-
  var sideMenu = {
    'Home': {
      title: "HTML and CSS",
      linkList: [
        {label: "Learn HTML", link:`${myURL}/html`},
        {label: "Learn CSS", link:`${myURL}/css`},
        {label: "Learn JavaScript", link:`${myURL}/javascript`},
      ]
    },
    'HTML': {
      title: "HTML tutorial",
      linkList: [
        {label: "HTML Paragraphs", link:`${myURL}/html/paragraphs`},
        {label: "HTML Comments", link:`${myURL}/html/comments`},
        {label: "HTML Links", link:`${myURL}/html/links`},
      ]
    },
    'CSS': {
      title: "CSS tutorial",
      linkList: [
        {label: "CSS Borders", link:`${myURL}/css/borders`},
        {label: "CSS Display ", link:`${myURL}/css/display`},
        {label: "CSS Position", link:`${myURL}/css/position`},
      ]
    },
    'JavaScript': {
      title: "JavaScript Tutorial",
      linkList: [
        {label: "JavaScript Comments", link:`${myURL}/javascript/comments`},
        {label: "JavaScript Operators", link:`${myURL}/javascript/operators`},
        {label: "JavaScript Functions", link:`${myURL}/javascript/functions`},
      ]
    }
  };
nav
  h3=sideMenu[landingPage].title
  each navigation in sideMenu[landingPage].linkList
    if activeLink == navigation.link
      a.current(href=navigation.link)= navigation.label
    else
      a(href=navigation.link)= navigation.label