-
  var navList = [
    {label: "Home", link:`${myURL}`},
    {label: "HTML", link:`${myURL}/html`},
    {label: "CSS", link:`${myURL}/css`},
    {label: "JavaScript", link:`${myURL}/javascript`}
  ];
header
  a.fa.fa-bars(href="#")
  a.fa.fa-home(href="#")
  each navigation in navList
    if navigation.label == landingPage 
      a.current(href=navigation.link)=navigation.label
    else 
      a(href=navigation.link)=navigation.label
