doctype html
html
  -
    var myURL = "https://razvanlikespizza.github.io/codetap-w3schools-replica";
    //var myURL = "http://localhost:3000";
  block cool-config
  head
    title= myTitle
    meta(name="description", content=myDescription)
    link(rel="stylesheet", href=`${myURL}/style.css`)
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="shortcut icon", href=`${myURL}asset/image/favicon.ico`, type="image/x-icon")
    link(rel="icon", href=`${myURL}asset/image/favicon.ico`)
  body
    include ../header/header
    article
      block not-awesome-content
    include ../nav/nav

    include ../footer/footer